.app {
  display: flex;
  border: 1px dashed lightcoral;
  flex-flow: column;
  align-items: center;

  .controls-container {
    display: flex;
    width: 66%;
    justify-content: space-around;
    align-items: center;
    border: 1px dashed #ccc;

  }

}