.app {
  margin-top: 5vh;
  display: flex;
  flex-flow: column;
  align-items: center;

  .controls-container {
    display: flex;
    width: 100vw;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
  }
}