@import "./utils/vars";

.time-picker {
  font-size: 3em;
  text-align: center;
  user-select: none;
  cursor: default;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

  .controls-wrapper {
    overflow: hidden;

    background-color: $primary-picker-background-collor;
    width: 170px;

    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2),
                1px 3px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    .button {
      background-color: lighten($primary-picker-background-collor, 10%);
      box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      .label {
        position: relative;
      }

      &.increment {
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        background-color: darken($primary-picker-background-collor, 5%);
      }
      &:active {
        background-color: darken($primary-picker-background-collor, 10%);

        &.increment {
          .label {
            top: 1px;
          }
        }

        &.decrement {
          .label {
            top: -1px;
          }
        }
      }
    }
  }

  .picker-label {
    margin-top: 10px;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(46, 175, 229, 0.50);
    text-shadow: 1px 4px 6px $primary-background-color, 0 0 0 #000, 1px 4px 6px $primary-background-color;
  }
}