@import "./utils/vars";

.time-picker {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  cursor: default;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);

  .controls-wrapper {
    overflow: hidden;
    user-select: none;

    background-color: $primary-picker-background-collor;
    max-width: 160px;
    max-height: 160px;
    width: 33vw;
    height: 33vw;
    font-size: 85%;

    box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2) inset,
                1px 3px 5px 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 50%;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;


      background-color: lighten($primary-picker-background-collor, 10%);
      box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.2);
      cursor: pointer;


      height: 34%;

      .label {
        position: relative;
      }

      &.increment {
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
      }

      &:hover {
        background-color: darken($primary-picker-background-collor, 5%);
      }
      &:active {
        background-color: darken($primary-picker-background-collor, 10%);

        &.increment {
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
          .label {
            top: 1px;
          }
        }

        &.decrement {
          .label {
            top: -1px;
          }
        }
      }
    }
    .value {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34%;
    }
  }

  .picker-label {
    margin-top: 10px;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(46, 175, 229, 0.50);
    text-shadow: 1px 3px 5px $primary-background-color, 0 0 0 #000, 1px 3px 5px $primary-background-color;
  }
}