.tomato {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 75vh;
  height: 70vh;
  position: relative;

  #canvas-tomato {
    width: 100%;
    height: 100%;
  }
}